/* General body styling */
body {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    padding: 20px;
}

/* Title section styling */
.title h1 {
    text-align: center;
    color: white;
}

/* Questions section styling */
.questions {
    background-color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questions h2 {
    color: white;
}

.questions img {
    width: 100%; /* Make images responsive */
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Result section styling */
.result {
    background-color: #e2e2e2;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2em;
}
button{
    margin: 6px;
    padding: 10px;
    list-style: none;
    border: 1px grey solid;
    width: 500px;
    height: 250px;
    font-size: 40px;
}
button:hover{
    transition: 1s;
    background-color: black;
    color: white;
    
}
.question-2,
.resultPage,
.Kent,
.Tackett,
.Belmo,
.Simo {
    display: none;
}

.Kent,
.Tackett,
.Belmo,
.Simo{
    width: 700px;
    height: 700px;
    border-left: solid 400px transparent;
}